<h1>Olá handlebars</h1>
<p>O nome do usuário é {{user.name}} {{user.surname}}, e ele tem {{user.age}} anos</p>
{{#if auth}}
    voce esta autenticado no sistema, <a href="/dashboard">Clique aqui</a> para acessar a pagina de usuario
{{/if}}
